:root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-blue: #e3e3e3;
    --bs-primary: #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}